extends layout.pug
block content
    for post in postlist
        .container.view-post
            h1.board-title Post #[span=post.post_id]
            .post-content
                h2.title-s=post.title
                p!=post.content
            .post-actions
                p Reply's: #[span=post.replys_count]
            p.uploaded-date Uploaded Today
        .container.reply-new
            form(method="POST" action="/reply/send")
                input(value=post.post_id style="display: none;" name="post_id")
                textarea(placeholder="Enter your reply" name="reply_content")
                button.btn.btn-primary(type="submit") Reply
    for reply in replylist
        .container-sm.replys
            h3 Comment #[span=reply.reply_id]
            p=reply.comment
            span=reply.time_posted

        